*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/release
/build.gradle
/gradle
/matisse/build
/matisselibrary/build
/log.txt
/app/debug
/app/agconnect-services.json
/.log
/greendaolibrary/src/main/java/greendaomodel
